body {background-color: #8a9a5b;
  margin: 0 10%;
  font-family: serif;
  text-align: left;}

header {font-family: "Truculenta", arial, sans-serif;
  color: #000000;
  background-color: #d1e189;
    text-align: center;
    margin-top: 0;
    padding: 40px;
    text-align: center;}

h1 {text-align: center;
  font-family: "Truculenta", arial, sans-serif;
  font-weight: normal;
  font-size: 8em;
  color: #000000;
  text-transform: uppercase;
  margin-top: 1px;
  margin-bottom: 1px;
  letter-spacing: .5em;}

h2{text-align: left;
  font-family: "Gruppo", serif;
font-weight: bold;
  color: #000000;
  font-size: 1.5em; text-transform: uppercase;}

h3 {font-family: "Truculenta", arial, sans-serif;
color: #FFEFD5;
font-weight: bold;
font-size: 1.5em;
text-align: center;
background-color: #000000;
padding: 1em;
margin-right: 100px;
margin-left: 100px;}

p {font-family: "Open Sans Condensed", arial, sans-serif;
font-size: 1.25em;}

ul {text-align: left;
	list-style-type: circle;
  font-family: "Open Sans Condensed", arial, sans-serif;
font-size: 1.25em;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;}

.sample{
        font-family: "Truculenta", arial, sans-serif;
        font-size: .5em;
        margin-top: 0;
        padding: 40px;
        text-align: center;}

.subhead {font-family: "Gruppo", arial, sans-serif;
text-transform: lowercase;
margin-top: 0;
margin-left: 0;
margin-right: 0;
color: #8a9a5b;
font-size: 2em;
font-weight: bolder;
text-align: center;
letter-spacing: 1em;}

a {text-decoration: underline;}
a:link {color: #000000; font-weight: bold;}
a:visited {color: #3c1414;}
a:focus {color: #52593b; background-color: #fff;}
a:hover {color: #FFFFFF; background-color: #545a2c;}
a:active {color: #bdb76b; background-color: #FFA07A;}
