body {background-color: #000000;
  margin: 0 10%;
  font-family: serif;
  text-align: left;}

header {font-family: "Truculenta", arial, sans-serif;
  color: #FFFFFF;
    text-align: center;
    margin-top: 0;
    padding: 10px;
    text-align: center;}

h1 {text-align: center;
  font-family: "Truculenta", arial, sans-serif;
  font-weight: normal;
  font-size: 8em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 1px;
  margin-bottom: 1px;
  letter-spacing: .5em;}

h2{text-align: left;
  font-family: "Gruppo", serif;
font-weight: bold;
  color: #FFFFFF;
  font-size: 1.5em; text-transform: uppercase;}

h3 {font-family: "Truculenta", arial, sans-serif;
color: #ffe4e1;
font-weight: bold;
font-size: 2em;
text-align: center;
padding: 1em;1
margin-right: 100px;
margin-left: 100px;}

p {font-family: "Open Sans Condensed", arial, sans-serif;
color: #FFFFFF; font-size: 1.25em;}

ul {text-align: left;
	list-style-type: circle;
  font-family: "Open Sans Condensed", arial, sans-serif;
color: #FFFFFF; font-size: 1.25em;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;}

.sample{
        font-family: "Truculenta", arial, sans-serif;
        font-size: .5em;
        margin-top: 0;
        padding: 40px;
        text-align: center;}

.subhead {font-family: "Gruppo", arial, sans-serif;
text-transform: lowercase;
margin-top: 0;
margin-left: 0;
margin-right: 0;
color: #FFFFFF;
font-size: 2em;
font-weight: bolder;
text-align: center;
letter-spacing: .5em;}

a.img-link {text-decoration: none;}

a:link {color: #aa98a9; font-weight: bold;}
a:visited {color: #ffc0cb;}
a:focus {color: #52593b; background-color: #fff;}
a:hover {color: #FFFFFF; background-color: #c0c0c0;}
a:active {color: #bdb76b; background-color: #FFA07A;}
