body{
  background: #faf2e4 url(menuimages/blackgoose.png) no-repeat center 100px fixed;
  margin: 0 10%;
  font-family: sans-serif;
  text-align: left;
  font-size: 1em;
}
header {
  background-color: rgba(255, 255, 255, .5);
  margin-top: 0;
  padding: 1em 1em 1em 1em;
  text-align: center;
}
h1{
  text-align: center;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  font-size: 2.5;
  text-shadow: .1em .1em .2em gray;
  text-transform: uppercase;
  margin-top: 30px;
  letter-spacing: .25em;
}

h2{
  color: #d1633c;
  font-size: 1.5em;
  font-family: "Abel", sans-serif;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: .25em;
}
a {
  text-decoration: none;
}
a:link {color: #B22222; font-weight: bold;}
a:visited {color: #937393;}
a:focus {color: #6495ED; background-color: #fff;}
a:hover {color: #6495ED; background-color: #fff;}
a:active {color: #008B8B; background-color: #fff;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
dt {
  font-weight: bold;
}

strong {
  font-style: italic;
}

dt strong {color: tomato;}

ul {text-align: left;
	list-style-type: none;}

.info{
  font-style: italic;
  color: #000000;
  text-align: center;
}

nav {text-align: center;
font-size: 1.5em; letter-spacing: .125em;}

.price {
  font-family: Georgia, serif;
  font-style: italic;
}
.warning, sup {
  font-size: small;
  color: red;
  font-style: italic;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

.menu {text-align: center;}

img {
	max-width: 100%;
}
footer{border-top: 1px solid #57b1dc;
text-align: center;
padding-top: 1em}

footer img {width: 40px; height: 40px; margin-left: .5em; margin-right: .5em}
