body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background: #faf2e4 url(menuimages/blackgoose.png) no-repeat center 100px fixed;
}
header {
  background-color: rgba(255, 255, 255, .5);
  margin-top: 0;
  padding: 1em 1em 1em 1em;
  text-align: center;
  border-bottom: 1px solid #57b1dc;
}

a {
  text-decoration: none;
}
a:link {color: #993399;}
a:visited {color: #937393;}
a:focus {color: #c700f2; background-color: #fff;}
a:hover {color: #c700f2; background-color: #fff;}
a:active {color: #ff00ff; background-color: #fff;}
h1 {
  font: bold 2em "Abel", sans-serif;
  text-shadow: .1em .1em .2em gray;
  color: ##d1633c; text-transform: uppercase;
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  color: #cc6600;
  text-align: center;
}
dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#info p {
  font-style: italic;
}
.price {
  font-family: Georgia, serif;
  font-style: italic;
}
p.warning, sup {
  font-size: small;  color: red;
    font-style: italic; text-align: center; border-top: 1px solid #57b1dc;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}
